<!DOCTYPE html>
<html>
    <head>
        <title>DigiMenu</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>

    <body>
        <nav>
            <ul id="left-nav">
                <li id="logo" class="nav-items">DigiMenu</li>
                <li class="nav-items">Home</li>
                <li class="nav-items">Favourites</li>
            </ul>

            <ul id="mid-nav">
                <li></li>
            </ul>

            <ul id="right-nav">
                <li class="nav-items">Login</li>
                <li class="nav-items">Signup</li>
            </ul>
        </nav>

        <!-- <p>This is from header</p> -->
        
