body {
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    background-color: #0d5ec756;
    width: 100%;
}

#logo {
    font-weight: 500;
    font-size: 28px;
}

#left-nav {
    /* border: 1px solid black; */
    display: flex;
    flex: 1 0.5 30%;
    align-items: center;
    justify-content: space-around;
    margin-top: 12px;
    margin-bottom: 12px;
}

#mid-nav {
    /* border: 1px solid black; */
    display: flex;
    flex: 1 4 60%;
    margin-top: 12px;
    margin-bottom: 12px;

}

#right-nav {
    /* border: 1px solid black; */
    display: flex;
    flex: 1 1 20%;
    align-items: center;
    justify-content: space-around;
    margin-top: 12px;
    margin-bottom: 12px;
}

ul {
    list-style-type: none;
}

.nav-items {
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px;
}

.food-type {
    height: 200px;
    box-shadow: 5px 5px 20px #cfcfcf;
    margin: 30px;
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.foodType-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    width: 100%;
}

.food-image {
    height: 175px;
    width: 300px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.food-container {
    display: flex;
    flex-direction: column;
}

.foods {
    position: relative;
    height: 250px;
    box-shadow: 5px 5px 20px #cfcfcf;
    margin: 30px;
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.food-desc {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.fa-cart-plus {
    font-size: 25px;
}

.fa-heart {
    position: absolute;
    top: 1%;
    right: 5%;
    color: white;
    font-size: 18px;
}

.search-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

input[type="search"] {
    min-width: 60%;
    border-radius: 20px;
    border: 1px solid #0d5ec7;
    padding: 2px 25px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin-right: 30px;
    margin-bottom: 25px;
    margin-top: 20px;
}

input:focus, select:focus {
    outline: none;
}

.search-submit {
    min-width: 10%;
    border-radius: 20px;
    border: 1px solid #0d5ec7;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 20px;
}

input, select {
    min-width: 60%;
    border-radius: 20px;
    border: 1px solid #0d5ec7;
    padding: 2px 25px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin-right: 30px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.new-submit {
    min-width: 20%;
    border-radius: 20px;
    border: 1px solid #0d5ec7;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin: 25px 27%;
}

hr.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

select {
    width: 83%
}