<%- include ("../partials/header") %>

<!-- <div class="form-container">
    <h1>Add new food Type to the menu.</h1>
    <form action="/foodType" method="POST">
        <input type="text" name="name" placeholder="Name*" required><br>
        <input type="text" name="image" placeholder="Image"><br>
        <input type="submit" placeholder="Add new Food-Type" class="new-submit">
    </form>
</div> -->

<div class="form-container">
    <h1>Add new item to the menu.</h1>
    <form action="/menu" method="POST">
        <input type="text" name="food[name]" placeholder="Name*" required><br>
        <input type="text" name="food[image]" placeholder="Image"><br>
        <input type="number" name="food[price]" placeholder="Price*" min="0" required><br>
        <input list="food-types" name="foodTypeName" placeholder="Select or Enter the Food Type*" required><br>
        <datalist id="food-types">
            <% foodTypes.forEach(function(foodType) { %>
                <option value="<%= foodType.name %>">
            <% }) %>
        </datalist>
        <input type="text" name="foodTypeImage" placeholder="Food Type Image"><br>
        <input type="submit" class="new-submit">
    </form>

</div>

<%- include ("../partials/footer") %>